<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Java"
            id="org.eclipse.jdt.ui.java">
      </category>
      <wizard
            id="edu.ul.yl.fr.patterntools.wizards.PatternWizard"
            name="Class CPOOA"
            icon="icons/Sample.png"
            class="edu.ul.yl.fr.patterntools.wizards.PatternWizard"
            category="org.eclipse.jdt.ui.java">
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions"> 
    <perspectiveExtension 
        targetID="org.eclipse.jdt.ui.JavaPerspective"> 
        <newWizardShortcut id="edu.ul.yl.fr.patterntools.wizards.PatternWizard"/> 
    </perspectiveExtension> 
</extension> 

</plugin>
